body{
    background: url("../images/dumbbell.jpg")
    no-repeat center center fixed;
    background-size: cover;
    font-family: 'Courgette', cursive;
}
div{
    background-color: rgba(205, 161, 186, 0.826);
    /* background-color: red; */
    width: 40%;
    margin: 100px auto;
    text-align: center;
    border-radius: 25px;
    word-wrap: break-word;

}
button{
    background: rgba(218, 175, 112, 0.577);
    padding: 20px;
    color: white;
    /* font-size: 2em; */
   border-radius: 10px;

}
h1{
    font-size: 4em;
}
i{
    font-size: 4em;
    
}